.call-entry {
  display: flex;
  gap: 40px;
  color: black;
  background-color: #e6e6e6;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}
.service-name {
  font-weight: bold;
  font-size: 13px;
}
.service-number {
  color: black;
  font-size: 12px;
  margin-top: 4px;
}
.timestamp {
  font-size: 11px;
  color: black;
  margin-top: 2px;
  font-weight: 500;
}
